<section id="about">
  <h2>About FASTWARE</h2>
  
  <p>Welcome to FASTWARE, your ultimate destination for centralized access to a diverse range of university software solutions. Developed with passion and dedication, FASTWARE aims to simplify your software needs during your academic journey.</p>
  
  <p>Stay updated with our latest news and announcements by following us on Instagram: <a href="https://instagram.com/{{ instagram }}" target="_blank">{{ instagram }}</a></p>
</section>

<section id="developer-info" style="margin-top: 20px; border-top: 1px solid #ccc; padding-top: 10px;">
  <div>
    <p><strong>Developed by a</strong> 5th semester student</p>
    <p><strong>Contact:</strong> {{ email }}</p>
  </div>

</section>
