::ng-deep .mat-toolbar.mat-primary {
  background-color: #1e4c6b;
}

.toolbar-button {
  margin-right: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  filter: blur(2px);
  background-color: #489adc;
  color: white;
  border-radius: 4px;
}

.toolbar-button:hover {
  background-color: #1e88e5;
  transform: scale(1.05);
  filter: blur(0px);
}

.toolbar-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
