<header>
  <div class="container">
      <!-- Optional header content -->
  </div>
</header>

<main>
  <section class="container">
      <h2>Software: The most commonly used software for Assembly  Language.</h2>
      <div class="software-links">
          <div class="software-item" data-name="DosBox">
              <h3>DOS BOX</h3>
              <img src="./assets/dosbox.png" alt="Dosbix  Image" width="150">
              <a href="https://www.dosbox.com/download.php?main=1" target="_blank" class="download-link">Download</a>
              <a href="https://www.dosbox.com/wiki/Basic_Setup_and_Installation_of_DosBox" target="_blank" class="video-link">Tutorial</a>
          </div>
          <div class="software-item" data-name="NASM">
            <h3>NASM Setup</h3>
            <img src="./assets/nasm.png" alt="LogicWorks Image" width="150">
            <a href="https://genrica.com/html5CSS3/Assembler_NASM_Installation_Usage_Guide.aspx" target="_blank" class="download-link">Download</a>
            <a href="https://youtu.be/jU2NMrk3dcA?si=QQEkYexdMC32dBZi" target="_blank" class="video-link">Tutorial</a>
        </div>
      </div>
      <br>
      <div>
          <h3>Setup Nasm very carefully if not this than there are many tutorials that you can follow on youtube</h3>
      
      </div>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <form class="feedback-form">
          <input type="text" placeholder="Enter your feedback here" name="feedback">
          <button type="submit" class="submit-button">Submit</button>
      </form>
  </section>
</main>
