.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Light gray background for the container */
  border-radius: 10px; /* Rounded corners for the container */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.main-heading {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
}

.button-container {
  margin-top: 20px;
}

.button-container a {
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  margin-bottom: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #3498db;
  background-color: #fff;
  transition: all 0.3s ease;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); /* Shadow effect for buttons */
}

.button-container a:hover {
  background-color: #3498db;
  color: #fff;
  border-color: #3498db;
}

.button-container a span {
  font-size: 1.2rem;
}

.button-container a.active {
  background-color: #3498db;
  color: #fff;
}

.board {
  background-color: #211515;
  border-radius: 10px;
  padding: 80px; /* Adjusted padding for better fitting within the viewport */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Adjusted shadow effect */
  margin-top: 400px; /* Increased margin-top to move it further downward */
  overflow: auto; /* Enable scrolling */
  position: relative; /* Ensure relative positioning for absolute children */
}

.board .welcome-message {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 2rem;
}
