<!-- Greetings and Introduction Section -->
<header class="landing-header">
  <div class="container">
    <h1>Welcome to FASTWARE!</h1>
    <p>I couldn't find a place to download all the softwares, so I made one</p>
  </div>
</header>

<!-- Main Content Section -->
<div class="container">
  <div class="button-container">
    <a routerLink="/pf" routerLinkActive="active"><span>Programming Fundamentals</span></a>
    <br>
    <a routerLink="/digitallogic" routerLinkActive="active"><span>Digital Logic Design</span></a>
    <br>
    <a routerLink="/COAL" routerLinkActive="active"><span>Computer Orgsmdsssdnan.and Assembly Lang.</span></a>
    <br>
    <a routerLink="/database" routerLinkActive="active"><span>Data Base</span></a>
    <br>
    <a routerLink="/operatingsystems" routerLinkActive="active"><span>Operating Systems</span></a>
    <br>
    <a routerLink="/cn" routerLinkActive="active"><span>Computer Networks</span></a>
    <br>
    <a routerLink="/ai" routerLinkActive="active"><span>Artificial Intelligence</span></a>
    <br>
  </div>
</div>



 <!-- Footer Section -->
 <footer class="footer">
  <div class="container">
      <p>&copy;   FastWARE.         All rights reserved.</p>
      <p>Designed with ❤️ as a student project</p>
      <p><a href="https://github.com/yourusername" target="_blank">GitHub</a></p>
  </div>
</footer>
