<header>
    <div class="container">
        <!-- Optional header content -->
    </div>
</header>

<main>
    <section class="container">
        <h2>Software: The most commonly used software for Operating Systems</h2>
        <div class="software-links">
            <div class="software-item" data-name="Ubuntu">
                <h3>Ubuntu</h3>
                <img src="./assets/ubanto.png" alt="Ubuntu Image" width="150">
                <a href="https://ubuntu.com/download/desktop" target="_blank" class="download-link">Download</a>
                <a href="https://www.youtube.com/results?search_query=ubuntu+tutorial" target="_blank" class="video-link">Tutorial</a>
            </div>
            <div class="software-item" data-name="VMware">
                <h3>VMware</h3>
                <img src="./assets/vmware.png" alt="VMware Image" width="150">
                <a href="https://www.vmware.com/products/workstation-pro.html" target="_blank" class="download-link">Download</a>
                <a href="https://youtu.be/luhHDo4ei34?si=IumVpf3SvQtnK3MX" target="_blank" class="video-link">Tutorial</a>
            </div>
        </div>
        <br>
        <div>
            <h3>Setup Nasm very carefully if not this then there are many tutorials that you can follow on YouTube</h3>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <form class="feedback-form">
            <input type="text" placeholder="Enter your feedback here" name="feedback">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </section>
</main>
