<header>
    <div class="container">
        <!-- Optional header content -->
    </div>
</header>

<main>
    <section class="container">
        <h2>Software: Database Management Tools</h2>
        <div class="software-links">
            <div class="software-item" data-name="Cisco Packet Tracer">
                <h3>Cisco Packet Tracer</h3>
                <img src="./assets/cisco.png" alt="Cisco Packet Tracer Image" width="150">
                <a href="https://www.netacad.com/courses/packet-tracer" target="_blank" class="download-link">Download</a>
                <a href="https://youtu.be/Kjn2sIfwfS8?si=_msPijEZZvJj_YhZ" target="_blank" class="video-link">Tutorial Video</a>
            </div>
        </div>
        <br>
        <div>
            <h3>This the Demo version can contact me for the paid version</h3>
            <a href="https://cisco.com/support" target="_blank">Cisco Support</a>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <form class="feedback-form">
            <input type="text" placeholder="Enter your feedback here" name="feedback">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </section>
</main>
