<header>
    <div class="container">
        <!-- Optional header content -->
    </div>
</header>

<main>
    <section class="container">
        <h2>Software: The most commonly used software for Digital Logic Design</h2>
        <div class="software-links">
            <div class="software-item" data-name="LogicWorks">
                <h3>LogicWorks</h3>
                <img src="./assets/dld.png" alt="LogicWorks Image" width="150">
                <a href="https://www.designworkssolutions.com/logicworks-5-windows/" target="_blank" class="download-link">Download</a>
                <a href="https://www.youtube.com/watch?v=your-tutorial-video-id" target="_blank" class="video-link">Tutorial Video</a>
            </div>
        </div>
        <br>
        <div>
            <h3>Note: Students sometimes face issues while setting up LogicWorks. If you face the same issue, click here.</h3>
            <a href="https://logicworks.co/support" target="_blank">LogicWorks Support</a>
        </div>
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <form class="feedback-form">
            <input type="text" placeholder="Enter your feedback here" name="feedback">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </section>
</main>
