<header>
    <div class="container">
     
    </div>
</header>

<main>
    <section class="container">
        <h2>Software : The most commonly used softwares are VS Code and Visual Studio</h2>
        <div class="software-links">
            <div class="software-item" data-name="Visual Studio Code">
                <h3>Visual Studio Code</h3>
                <img src="./assets/vscode-logo.png" alt="Visual Studio Code Image" width="150">
                <a href="https://code.visualstudio.com/" target="_blank" class="download-link">Download</a>
                <a href="https://youtu.be/0yn7irrHzM8?si=a17HbZohkTUPkzhH" target="_blank" class="video-link">Tutorial Video</a>
            </div>
            <div class="software-item" data-name="Visual Studio">
                <h3>Visual Studio </h3>
                <img src="./assets/vs22.png" alt="SSMS Image" width="150">
                <a href="https://visualstudio.microsoft.com/downloads/" target="_blank" class="download-link">Download</a>
                <a href="https://www.youtube.com/watch?v=o9YBzD1oZi4" target="_blank" class="video-link">Tutorial Video</a>
            </div>
        </div>
        <div>
            <h3>Note: Students sometimes face issues while setting up G++. If you face the same issue, click here.</h3>
            <a href="https://code.visualstudio.com/" target="_blank">G++</a>
        </div>
        <form class="feedback-form">
            <input type="text" placeholder="Enter your feedback here" name="feedback">
            <button type="submit" class="submit-button">Submit</button>
        </form>
    </section>
</main>
